$color-navyblue: #18121e;
$color-graydark: #777;
$color-gunmetal: #233237;
$color-rustyred: #984843;
$color-warmyellow: #eac67a;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7; 

// font sizes
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;