@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';
@import 'base/base';

@import 'pages/home';

@import 'components/button';

@import 'layout/header';

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Navy Blue: #18121E
Gunmetal: #233237
Rusty Red: #984843
Warm Yellow: #EAC67A

$color-navyblue: #18121e;
$color-graydark: #777;
$color-gunmetal: #233237;
$color-rustyred: #984843;
$color-warmyellow: #eac67a;
$color-white: #fff;
$color-black: #000;

*/
