.composition {
  position: relative;

  &__photo {
    width: 30%;
    //box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    //border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;

    &--p1 {
      width: 32%;
      left: -10rem;
      top: 2rem;
    }

    &--p2 {
      left: 12.5rem;
      top: -2rem;
    }

    &--p3 {
      right: 2rem;
      top: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
}
